* {
   font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
}

body {
    color: #434455;
    background-color: #FFFFFF;
    width: 100%;
}

footer {
    width: 100%;
    padding: 100px 0;
}

ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0 0;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0 0 0 0;
}

img {
    display: block;
}

.container { 
    max-width: 1158px;
    padding: 0 15px;  
    margin: 0 auto;   
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.08);
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1158px;

}

.logo {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

header .logo {
    margin-right: 76px; 
}

nav {
    display: flex;
    align-items: center;
}

nav .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-studio {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-studio::after {
    position: absolute;
    left:0px;
    bottom:-1px;
    content: '';
    width:100%;
    height:4px;
    border-radius:2px;
    background-color: #404bbf;
}

nav li a:hover, nav li a:focus, .nav li a:active {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
}

address a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

address a:hover, address a:focus {
    color: #404bbf;
}

.web-logo {
    color: #2e2f42;
}

.hero, footer {
    background-color: #2e2f42;
}

.hero {
    max-width: 1440px;
    padding: 188px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office-bg.jpg');
    background-color: rgba(46, 47, 66, 0.7);
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    background-position: center;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
}

.bttn-service {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
}

.bttn-service:hover, .bttn-service:focus {
    background-color: #404bbf;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.values {
    background-color: #fff;
    padding: 120px 0;
    display: flex;
    justify-content: center;
}

.values-icon {
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.values h3 {
    line-height: 1.2;
    margin-top: 8px;
    margin-bottom: 8px;
}

.container .values-list {
    display: flex;
    gap: 24px;
}

.values-item {
    width: calc((100% - 72px) / 4);
    display: flex;
    flex-direction: column;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.team {
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    padding: 120px 0;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: calc((100% - 24) / 1);
}

.team-member .social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.social-style {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-icon:hover {
    background-color: #404bbf;
}

.social-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-svg {
    fill: #f4f4fd;
}

.team-list li {
    background: #fff;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-member {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member .container{
    padding: 32px 0;
    display: flex;
    flex-direction: column;
}

.member-name {
    line-height: 1.2;
    margin-bottom: 8px;
}

.member-job {
    font-size: 16px;
    margin-bottom: 8px;
}

.portfolio {
    background: #fff;
    padding-top: 120px; 
    padding-bottom: 120px;
}

.potfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-item img {
    display: block;
    width: 100%;
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
}

.portfolio-app {
    border: 1px solid #e7e9fc;
    border-top: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 32px 16px;
}

.portfolio-item:hover .portfolio-text {
    transform: translatey(0);
}

.portfolio-item:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feature-title {
    line-height: 1.2;
    margin-bottom: 8px;
}

.memo .container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 1158px;
}

.intro {
    margin-right: 120px;
}

.footer-logo {
    margin-bottom: 16px;
}

.intro .web-logo {
    color: #f4f4fd;
}

.memo-text {
    color: #f4f4fd;
    max-width: 264px;
}

.footer-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.memo .social-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.memo .social-icon:hover {
    background-color: #31d0aa;
}