* {
   font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
}

body {
    color: #434455;
    background-color: #FFFFFF;
    width: 100%;
}

footer {
    width: 100%;
    padding: 96px 0;
}

ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0 0;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0 0 0 0;
}

img {
    display: block;
}

.container { 
    max-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 286px;
    padding: 16px 0;
}

.logo {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

header .logo {
    margin-right: 149px;
}

.navigation {
    width: 1px;
    height: 1px;
    border: 0;
    overflow: hidden;
}

.address {
    width: 1px;
    height: 1px;
    border: 0;
    overflow: hidden;
}

.web-logo {
    color: #2e2f42;
}

nav {
    display: flex;
    align-items: center;
}

.hero, footer {
    background-color: #2e2f42;
}

@media (min-resolution: 192dpi){
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/mob-people-office-bg2x.jpg');
    }
}

.hero {
    max-height: 432px;
    padding: 72px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/mob-people-office-bg.jpg');
    background-color: rgba(46, 47, 66, 0.7);
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px auto;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
}

.bttn-service {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bttn-service:hover, .bttn-service:focus {
    background-color: #404bbf;
}

.values {
    background-color: #fff;
    padding: 96px 0;
    display: flex;
    justify-content: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.values-icon {
    width: 1px;
    height: 1px;
    border: 0;
    overflow: hidden;
}

.values h3 {
    line-height: 1.2;
    margin-bottom: 8px;
    font-size: 36px;
    text-align: center;
}

.container .values-list {
    display: block;
}

.values-item:not(:last-of-type) {
    margin-bottom: 72px;
}

.team {
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    padding: 96px 0;
}

.team-list {
    display: block;
}

.team-member .social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.team-member:not(:last-of-type) {
    margin-bottom: 72px;
}

.social-item {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-icon:active, .social-icon:focus, .social-icon:hover {
    background-color: #404bbf;
}

.social-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-svg {
    fill: #f4f4fd;
}

.team-list li {
    background: #fff;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-member {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member .container{
    padding: 32px 0;
    display: flex;
    flex-direction: column;
}

.member-name {
    line-height: 1.2;
    margin-bottom: 8px;
}

.member-job {
    font-size: 16px;
    margin-bottom: 8px;
}

.portfolio {
    background: #fff;
    padding: 96px 0; 
}

.potfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: block;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:not(:last-of-type) {
    margin-bottom: 48px;
}

.portfolio-item img {
    display: block;
    width: 100%;
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
}

.portfolio-app {
    border: 1px solid #e7e9fc;
    border-top: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 32px 16px;
}

.portfolio-item:hover .portfolio-text {
    transform: translatey(0);
}

.portfolio-item:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feature-title {
    line-height: 1.2;
    margin-bottom: 8px;
}

.memo .container {
    display: block;
    width: 288px;
}

.intro {
    margin-bottom: 72px;
}

.memo .social {
    margin-bottom: 72px;
}

.memo .logo {
    display: block;
    text-align: center;
}

.intro .web-logo {
    color: #f4f4fd;
}

.memo-text {
    color: #f4f4fd;
    width: 288px;
    margin-top: 16px;
}

.footer-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.memo .social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.memo .social-icon:hover, .memo .social-icon:focus, .memo .social-icon:active {
    background-color: #31d0aa;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
    opacity: 0.6;
    margin-bottom: 16px;
}

input::placeholder {
    color: #ffffff;
}

.subscribe-button {
    min-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.subscribe-svg {
    margin-left: 16px;
}

.subscribe a:hover, .subscribe a:focus {
    background-color: #404bbf;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1), visiblity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
    padding-top: 72px;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.nav-menu {
    margin-bottom: auto;
}

.nav-menu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
}

.nav-menu .nav-menu-item:first-of-type a {
    color: #404bbf;
}

.nav-menu-item a {
    color: #2e2f42;
}

.nav-menu-item:not(:last-of-type) {
    padding-bottom: 40px;
}

.address-menu {
    margin-bottom: 48px;
}

.addr-menu-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.addr-menu-item a {
    color: #434455;
    font-style: normal;
}

.addr-menu-item:hover, .addr-menu-item:focus {
    color: #404bbf;
}

.addr-menu-item:not(:last-of-type) {
    padding-bottom: 24px;
}

.social-list-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 40px;
}

.social-list-menu .social-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}


.modal-overlay {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

.close-link {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-link:hover, .close-link:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}

.cross-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-group-style {
    margin-bottom: 8px;
}

.form-comment-style {
    margin-bottom: 16px;
}

.form-field{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input-fields {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4D5AE5;
}

.form-input:focus + .form-svg {
    fill: #4D5AE5;
}

.form-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.user-comment:focus {
    border-color: #4D5AE5;
}

.form-checkbox {
    margin-bottom: 24px;
    position: relative;
    cursor: pointer;
}

.checkbox:checked + .form-label > .policy-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.policy-checkbox {
    width: 16px;
    height: 16px; 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.policy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.modal-send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}

.modal-send:hover, .modal-send:focus {
    background-color: #404bbf;
}